<header>
    <div class="header">
        <a class="" href="./index.html" aria-label="Site logo">
            <svg width="84" height="36">
                <use href="./img/sprite.svg#icon-company-logo"></use>
            </svg>
        </a>
        <!-- #region burger -->
        <button class="burger" type="button" aria-label="Open menu">
            <svg width="24" height="24" stroke="black">
                <use href="./img/sprite.svg#icon-menu"></use>
            </svg>
        </button>
        <!-- #endregion --> 
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item">
            <a class="nav-link {=$highlight-act}" href="./page-2.html">Future Project's </a>
            </li>
            <li class="nav-item">
            <a class="nav-link {=$highlight-curr}" href="./page-3.html">Current Project's</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="./index.html">About Me</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="./index.html">Contact's</a>
            </li> 
        </ul>
    </nav>
    </div>
</header>
