<section class="projects">
    <div class="container">
        <h2>MY PROJECTS</h2>
        <p>Here are some of my recent works.</p>
        <ul class="project-list">
            <li class="project-item">
                <img src="./img/project1.png" alt="Project HTML CSS" />
                <h3>Yoga Class</h3>
                <p>Short description of the project.</p>
                <h4>PROJECT INFO</h4>
                <a href="#" class="btn">VIEW PROJECT</a>

            </li>

            <li class="project-item">
                <img src="./img/project2.png" alt="Project JS" />
                <h3>Pet Adoption App</h3>
                <p>Short description of the project.</p>
                <h4>PROJECT INFO</h4>
                <a href="#" class="btn">VIEW PROJECT</a>
            </li>

            <li class="project-item">
                <img src="./img/project3.png" alt="Project React" />
                <h3>WILL BE in future</h3>
                <p>Short description of the project.</p>
                <h4>PROJECT INFO</h4>
                <a href="#" class="btn">VIEW PROJECT</a>
            </li>

        </ul>
    </div>
</section>